@import '@tomtom-international/web-sdk-maps/dist/maps.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
	--color-primary: #529075;
	--color-bg: #fafaf2;
	--color-white: #fff;
	--color-dark: #313131;
	--color-light: #999;
	--color-lightest: #ededed;
}

:root {
	--font-family: 'Inter', sans-serif;
	--second-family: 'SF Pro Text', sans-serif;
}

.Vue-Toastification__container.toast-dialog-container {
	width: 300px;
	left: auto;
	right: 15px;
	top: 15px;

	& .toast-dialog-error,
	& .toast-dialog-info {
		border-radius: 15px;
		min-width: 300px;
	}
}

* {
	font-family: var(--font-family);
}

.v-layout {
	box-sizing: border-box;
	min-height: 100%;
}

.v-btn {
	box-sizing: border-box;
}

.v-field {
	box-sizing: border-box;
}

.product-item {
	margin-bottom: 10px;
}

.product-item:last-child {
	margin-bottom: 0;
}

.my-font-size {
	font-size: 16.5px;
}

.my-subtitle-fs {
	font-size: 15.7px;
}

.my-color {
	color: #000099;
}

.my-title {
	font-size: 27px;
}

.my-border {
	border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

.my-subtitle {
	font-size: 21px;
}

.my-item-subtitle {
	font-size: 30px;
}

.app-color {
	background-image: linear-gradient(to right, #6168db, #3b43d1);
	color: white;
}

.app-item-color {
	background-color: #f9f9f9;
}

.app-bg-color {
	background-color: #dee0e3;
}

.app-bg-color-form {
	background-color: #e8eaed;
}

.my-card-title {
	border-bottom: 2px solid rgba(128, 128, 128, 0.4);
	font-size: 27px;
}

.action-sheet-container {
	height: 500px !important;
}

.btn-text {
	font-size: 17px;
	letter-spacing: 0px;
	padding-top: 19px !important;
	padding-bottom: 20px !important;
	text-transform: none;
}

.divider {
	width: 100%;
	height: 1px;
	background: var(--color-lightest);
}

ion-modal {
	--height: auto;
	--border-radius: 8px 8px 0 0;
}

.app-btn {
	text-transform: none;
	box-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.2);
	background: var(--color-primary);
	border-radius: 40px;
	padding: 0 48px;
	width: 226px;
	height: 41px;
	letter-spacing: 0;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	color: var(--color-white);
}

.app-btn-outline {
	text-transform: none;
	box-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.2);
	border: 1px solid var(--color-dark);
	color: rgb(0, 0, 0);
	border-radius: 40px;
	padding: 0 48px;
	width: 226px;
	height: 41px;
	letter-spacing: 0;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	background: transparent;
}

.v-card {
	height: 100vh !important;
	background: var(--color-bg);
	overflow-y: auto;
}

.v-field__outline {
	--v-field-border-width: 0px;
}

.v-field {
	// border-radius: 50px !important;
}

.v-field--variant-outlined .v-field__outline__start,
.v-field--variant-outlined .v-field__outline__notch::before,
.v-field--variant-outlined .v-field__outline__notch::after,
.v-field--variant-outlined .v-field__outline__end {
	border: 0 solid currentColor;
}
