@import "@tomtom-international/web-sdk-maps/dist/maps.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.Vue-Toastification__container.toast-dialog-container {
  width: 300px;
  left: auto;
  right: 15px;
  top: 15px;

  & .toast-dialog-error, & .toast-dialog-info {
    border-radius: 15px;
    min-width: 300px;
  }
}

* {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.v-layout {
  box-sizing: border-box;
  min-height: 100%;
}

.v-btn {
  box-sizing: border-box;
}

.v-field {
  box-sizing: border-box;
}

.product-item {
  margin-bottom: 10px;
}

.product-item:last-child {
  margin-bottom: 0;
}

.my-font-size {
  font-size: 16.5px;
}

.my-subtitle-fs {
  font-size: 15.7px;
}

.my-color {
  color: #000099;
}

.my-title {
  font-size: 27px;
}

.my-border {
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

.my-subtitle {
  font-size: 21px;
}

.my-item-subtitle {
  font-size: 30px;
}

.app-color {
  background-image: linear-gradient(to right, #6168DB, #3b43d1);
  color: white;
}

.app-item-color {
  background-color: #f9f9f9;
}

.app-bg-color {
  background-color: #dee0e3;
}

.app-bg-color-form {
  background-color: #e8eaed;
}

.my-card-title {
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
  font-size: 27px;
}

.action-sheet-container {
  height: 500px !important;
}

.btn-text {
  font-size: 17px;
  letter-spacing: 0px;
  padding-top: 19px !important;
  padding-bottom: 20px !important;
  text-transform: none;
}

ion-modal {
   --height: auto;
   --border-radius: 12px 12px 0 0
}