@import "@tomtom-international/web-sdk-maps/dist/maps.css";

.Vue-Toastification__container.toast-dialog-container {
  width: 300px;
  left: auto;
  right: 15px;
  top: 15px;

  & .toast-dialog-error, & .toast-dialog-info {
    border-radius: 15px;
    min-width: 300px;
  }
}

.product-item {
  margin-bottom: 20px;
}

.product-item:last-child {
  margin-bottom: 0;
}

.my-font-size {
  font-size: 16.5px;
}

.my-color {
  color: #000099;
}

.my-title {
  font-size: 27px;
}

.my-border {
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
}

.my-subtitle {
  font-size: 21px;
}

.my-item-subtitle {
  font-size: 30px;
}

.app-color {
  background-image: linear-gradient(to right, #6168DB, #3b43d1);
  color: white;
}

.app-item-color {
  background-color: #f9f9f9;
}

.app-bg-color {
  background-color: #dee0e3;
}

.app-bg-color-form {
  background-color: #e8eaed;
}